.nav-bar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.425rem;
    cursor: pointer;
}
.nav-bar-item:hover .bi-plus-lg{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    fill: var(--color-m_white);
}
.nav-bar-item:hover {
    color: var(--color-m_white);
    transition: color 0.3s ease-in-out;
}
.btn-c0, .btn-c1{
    cursor: pointer;
}

.btn-c1{
    transform: translateY(120%);
    transition: transform 0.3s ease-in-out;
}
.btn-c0{
    transform: translateY(0%);
    transition: transform 0.3s ease-in-out;
}
          

.container-btn-c:hover .btn-c1{
    transform: translateY(0%) !important;
    transition: transform 0.3s ease-in-out;
}
.container-btn-c:hover .btn-c0{
    transform: translateY(-120%) !important;
    transition: transform 0.3s ease-in-out;
}