.nav-bar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.425rem;
    cursor: pointer;
}
.nav-bar-item:hover .bi-plus-lg{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    fill: var(--color-m_white);
}
.nav-bar-item:hover {
    color: var(--color-m_white);
    transition: color 0.3s ease-in-out;
}
.btn-contact{
    cursor: pointer;
}
.btn-contact ::before{
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-m_white);
    opacity: 0.2;
    transform: scale(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
}
.btn-contact:hover::before{
    transform: scale(1);
    opacity: 1 !important;
}
