@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* You can add global styles to this file, and also import other style files */
.ibm-plex {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 75;
}

@theme {
    --color-m_white: #F1F1F1;
    --color-m_black: #161616;
}